<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- which provider and which connection string -->
    <!-- SQL -->
    <add key="provider" value="System.Data.SqlClient" />
    <add key="connectionString" value="Data Source=(local);Initial Catalog=AutoLot;Integrated Security=True"/>
    <!-- OLEDB -->
    <!-- <add key="provider" value="System.Data.OleDb" />
    <add key="connectionString" value="Provider=SQLOLEDB;Data Source=(local);Initial Catalog=AutoLot;Integrated Security=SSPI"/> -->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>