<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- which provider -->
    <add key="provider" value="System.Data.SqlClient" />
    <!-- <add key="provider" value="System.Data.OleDb" /> -->
  </appSettings>
  <connectionStrings>
    <add name="AutoLotSqlProvider" connectionString="Data Source=(local);Initial Catalog=AutoLot;Integrated Security=SSPI"/>
    <add name="AutoLotOleDbProvider" connectionString="Provider=SQLOLEDB;Data Source=(local);Initial Catalog=AutoLot;Integrated Security=SSPI"/>
  </connectionStrings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>